.main-service-work {
    overflow: hidden;
}
.view-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-top: 90px;
    margin-bottom: 65px;
}
.photo-work {
    max-width: 660px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.photo-work-view img {
    width: 660px;
    height: 417px;
}
.photo-work-previev {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.photo-work-previev img {
    width: 81px;
    height: 75px;
    transition: 0.2s ease-in-out;
}

.photo-work-previev img:hover {
    scale: 1.03;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.5);
}

.address-text {
    margin-bottom: 40px;
}
