.footer {
    margin-top: 50px;
}
.footer-contacts {
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    column-gap: 20px;
}

.footer-map {
    max-width: 1159px;
    height: 336px;
    margin: 30px auto;
    text-align: center;
}
.footer-main-map {
    max-width: 982px;
    height: 412px;
    background-color: #333;
    padding: 5px 25px;
    height: 412px;
}
.map-office-js {
    width: 100%;
    height: 100%;
}
.footer-company {
    width: 100%;
    height: 635px;
}
.container-footer-company {
    padding-top: 70px;
}


/*Кнопка наверх*/
.back_to_top {
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 70px;
    height: 70px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #1b6eb8;
    z-index: 100;
    transform: translateX(120%) scale(0);
    transition: 0.4s ease-in-out;
}
.back_to_top_show {
    transform: translateY(0) scale(100%);
}
.back_to_top:hover,
.back_to_top:focus {
    filter: brightness(1.5);
    outline: none;
}
.back_to_top::before,
.back_to_top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back_to_top::before {
    width: 5px;
    height: 30px;
    background-color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.back_to_top::after {
    width: 22px;
    height: 22px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
}
